@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&family=Bebas+Neue&family=Jersey+25&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Oswald:wght@200..700&family=Quicksand:wght@300..700&display=swap');
body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    background-color: var(--azul-claro);
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: auto;
    font-size: 14px;
    box-sizing: border-box;
    text-align: center;
    background: #242137;
}

.cabecera_conteiner {
    background: black;
    width: 100%;
    height: 100px;
    padding: 0px 0px 0px 25px;
}

.logo {
    width: 100px;
}

.cabecera_iconos {
    padding: 25px;
}

.item {
    font-size: 13px;
    color: white;
    padding: 25px;
    font-weight: lighter;
}

.item2 {
    font-size: 15px;
    color: white;
    display: none;
    padding-right: 40px;
}

.img_presentacion {
    width: 30%;
    margin-bottom: 45px;
    filter: drop-shadow(-2px 2px 15px rgba(7, 255, 234, 0.7));
    opacity: 80%;
}

.miPresentacion {
    color: #e3faff;
    font-size: 65px;
    text-align: left;
    margin-left: 30px;
    font-family: "Jersey 25", sans-serif;
}

.descripcion {
    text-align: left;
    font-size: 20px;
    margin-left: 30px;
    color: #e3faff;
}

.imagenes {
    width: 50px;
    padding: 10px;
}

.contenedor_sobremi {
    padding: 25px;
    box-shadow: -1px 16px 18px -7px rgba(245, 245, 245, 1);
}

.imagen_so {
    width: 550px;
    height: 350px;
    padding-left: 85px;
    border-radius: 15px;
}

.info_contenedor {
    color: white;
}

.titulo_so {
    font-size: 50px;
    padding-bottom: 25px;
    font-family: "Lilita One", sans-serif;
    color: #9ca2e9;
}

.titulo_so span {
    color: #FFB800
}

.info_so {
    text-align: justify;
    font-size: 25px;
    font-family: "Jersey 25", sans-serif;
    padding-left: 130px;
}

.titulo_skills {
    font-size: 50px;
    padding: 25px;
    font-family: "Lilita One", sans-serif;
    color: #9ca2e9;
}

.titulo_hobbie {
    font-family: "Lilita One", sans-serif;
    text-align: justify;
    color: #FFB800;
    padding: 20px 25px;
    font-size: 50px;
}

.info_hobbie {
    text-align: justify;
    color: white;
    padding: 20px 55px 0px 25px;
    font-size: 25px;
    font-family: "Jersey 25", sans-serif;
}

.img_hobbie {
    width: 20%;
    padding: 25px;
    border-radius: 10px;
}

.contenedor_subtarjeta {
    background: #120907;
    width: 300px;
    height: 450px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    border: 5px solid;
    border-radius: 10px;
    box-shadow: 2px 5px 39px -7px rgba(255, 0, 51, 1);
}

.imagen_tarjeta {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.titulo_tarjeta {
    color: white;
    font-size: 25px;
    font-family: "Lilita One", sans-serif;
}

.texto_tarjeta {
    font-family: "Jersey 25", sans-serif;
    color: white;
    font-size: 20px;
}

.img_proyecto {
    width: 350px;
}

.subtitulo,
.link,
.descrip_proyect {
    color: wheat;
    text-align: left;
    font-size: 25px;
    margin-bottom: 15px;
}

.subtitulo {
    font-family: "Lilita One", sans-serif;
    color: white;
}

.link,
.descrip_proyect {
    padding-left: 15px;
    font-family: "Jersey 25", sans-serif;
}

.link {
    color: #20dad8;
}

.titulo_proyecto {
    font-family: "Lilita One", sans-serif;
    color: #FFB800;
    font-size: 50px;
    padding-top: 15px;
}

.img_proyecto:hover,
.contenedor_subtarjeta:hover {
    opacity: 50%;
}